<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Products</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div class="container-fluid text-center">
  <div><h2>Cart</h2></div>
  <div>
    <table class="table table-bordered">
      <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>PRODUCT</th>
        <th>STOCK</th>
        <th>PRICE</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <th:block th:each="product : ${listProducts}">
        <tr>
          <td>[[${product.id}]]</td>
          <td>[[${product.pname}]]</td>
          <td>[[${product.price}]]</td>
          <td>[[${product.stock}]]</td>
        </tr>
      </th:block>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>